.product-list {
  > li {
    padding: 15px 0;
    border-bottom: 1px solid #c1c1c1;
  }
}

.header-table {
  margin-bottom: 10px;
  > ul {
    display: flex;
    justify-content: space-between;
    > li {
      width: calc(100% / 4); text-align: center; padding: 0 10px; font-weight: 600;
      &:first-child { text-align: start; } 
      &:last-child { text-align: end; }
    }
  }
}
