* { padding: 0; margin: 0; box-sizing: border-box; font-family: 'Quicksand', sans-serif;; }

ul { list-style: none; }
a { text-decoration: none; color: inherit; }

.active { box-shadow: inset -5px 0px 0 0 #2C3357; background: #d0d0d0; }

.app {
  &.layout { 
    display: flex; flex-flow: row nowrap; height: 100vh;
    aside { 
      background: white; background-color: #efefef; flex: 1 1 auto;
      max-width: 200px; min-width: 120px;
      header { padding: 20px 15px; margin-bottom: 30px; }
      nav { 
        ul li {
          transition: all .3s ease;
          a { padding: 10px 15px; display: block; }
          &:hover { @extend .active; }
        }
      }
    }
    main { 
      flex: 1 1 auto; padding: 0 30px;
      .page-title h1 { padding: 60px 0 30px 0; }
    }
    .centered { max-width: 600px; }
  }
}